/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(90deg, #1e56c8 0%, #39c6e6 50%, #C6D3EF 100%);
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
}